.banniere {
    width: 100%;
    margin-top: 19vh;
    height: 40vh;
    object-fit: cover;
}

.boutique {
    margin: 0;
    height: 6vh;
    text-align: center;
    width: 40%;
    background-color: rgba(255, 243, 221, 58%);
    position: absolute;
    top: 36vh;
    left: 30vw;
    border-radius: 10px;
    font-size: 1.5em;
}

main {
    background-color: #FFF3DD;
    width: 100%;
    height: 490vh;
    display: flex;
    justify-content: center;
    margin-top: -6px;
}

.desknav {
    display: none;
}

.center {
    width: 80%;
    background-color: white;

}

h2 {
    background-color: #FFF3DD;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.catégories {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45vh;
    align-items: center;
    margin: 4vh 0px;
    font-size: 1.2em;
}

.catégories li {
    background-color: wheat;
    border-radius: 25px;
    text-align: center;
    width: 90%;
}

.catégories li a {
    color: black;
    text-decoration: none;
}

.hScroll {
    margin-top: 2vh;
    /* display: flex; */
    justify-content: center;
    overflow: scroll;
    width: 100%;
    margin-bottom: 2vh;
}

.xScroll {
    width: 225vw;
    min-width: min-content;
    display: flex;
    /* justify-content: space-around; */
}

.vignette {
    height: 57vh;
    width: 240px;
    background-color: #FFF3DD;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 8vw;
}

.vignette img {
    height: 30vh;
    width: 43vw;
    border-radius: 15px;
    margin-top: 1vh;
}

.vignette h3 {
    margin: 0;
}

.petite-police {
    font-size: 0.8em;
}

.vignette p {
    margin: 0;
}

.dispo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
}

.circle {
    height: 7px;
    width: 7px;
    background-color: #4DB00D;
    border-radius: 50%;
}

.dispo p {
    color: #41AC00;
}

a .btn-ajouter {
    width: 100%;
    background-color: wheat;
    border-radius: 10px;
}

a .btn-ajouter p {
    text-align: center;
    color: black;
    
}

.vignette a {
    text-decoration: none;
    width: 65%;
    margin-bottom: 1vh;
}

@media screen and (min-width: 768px) {

    main {
        height: 420vh; 
    }

    .boutique {
        font-size: 1.9em;
    }

    h2 {
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 1.9em;
    }

    .catégories li {
        width: 90%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .xScroll {
        width: 120vw;
        min-width: min-content;
        display: flex;
        justify-content: space-around;
    }
    
    .vignette {
        height: 47vh;
        width: 35vw;
        margin-left: 0%;
    }

    .vignette img {
        width: 27vw;
        height: 27vh;
    }

    .dispo {
        width: 11vw;
    }

    a .btn-ajouter {
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a .btn-ajouter p {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1024px) {
    .banniere {
        margin-top: 0;
        height: 65vh;     
        object-position: 0px 47%;
    }

    .boutique {
        top: 49vh;
        left: 40vw;
        font-size: 3em;
        width: 24%;
        height: 8vh;
    }

    main {
        justify-content: space-around;
    }

    .desknav {
        display: block;
        background-color: white;
        height: min-content;
        position: sticky;
        top: 10vh;
        width: 19%;
        border: 3px solid wheat;
    }

    .center {
        width: 79%;
    }

    h2 {
        background-color: wheat;
    }

    .center .titre {
        display: none;
    }

    .catégories.mobile {
        display: none
    }

    .catégories li {
        width: 85%;
        font-size: 1.2em;
        border-radius: 15px;
    }
}